{% load static %}
{% load widget_tweaks %}
<html>
<head>
  <title>
    PDF-Extractor
  </title>
  <link rel="stylesheet" type="text/css" href="{% static '/css/bulma.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>

<body style="margin: 0; height: 100%; overflow: hidden;">
  <section class="hero is-info is-medium is-bold">
    <!-- <section style="height:100%;" class="hero is-info is-medium is-bold"> -->
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="{% static 'logo.png' %}" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                                <!-- <ul>
                                    <li class="is-active"><a>Home</a></li>
                                    <li><a href="">Examples</a></li>
                                    <li><a href="">Features</a></li>
                                    <li><a href="">Team</a></li>
                                    <li><a href="">Help</a></li>
                                </ul> -->
                                <span class="navbar-item">
                                    <a class="button is-white is-outlined" href="https://github.com/aswinzz/summe">
                                        <span class="icon">
                                            <i class="fab fa-github"></i>
                                        </span>
                                        <span title="Hello from the other side">View Source</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                 Welcome to Summe
                </h1>
                <h2 class="subtitle">
                  Summe will summarise your pdf in a wink! <i class="far fa-smile-wink"></i>
                </h2>
            </div>
            <br><br>
            <div class="columns features">
                <div class="column is-4">
                    <div class="card is-shady">

                        <div class="card-content">
                            <div class="content">
                              <h4>Summarise PDF</h4>
                              <form method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                                <div class="field">
                                  <div class="file is-centered is-boxed is-primary has-name">
                                    <label class="file-label">
                                    {% render_field form.pdfFile class="file-input" id="pdfFile" name="pdfFile" %}
                                    <span class="file-cta">
                                    <span class="file-icon">
                                    <i class="fa fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                    Upload Video File
                                    </span>
                                    </span>
                                    <span class="file-name" id="filename">
                                    No file uploaded
                                    </span>
                                    </label>
                                    </div>
                                </div>
                                <center>
                                    <button class="button submit-button is-medium is-primary" type="submit">Summarise</button>
                                </center>
                              </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">

                        <div class="card-content">
                            <div class="content">
                              <h4>Summarise Text. </h4>
                              <form method="POST" action="/text">
                                {% csrf_token %}
                                <textarea class="textarea" placeholder="enter your text ..." name="text" id="text"></textarea><br>
                                <center>
                                    <button class="button submit-button is-medium is-primary" type="submit">Summarise</button>
                                </center>
                              </form>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-content">
                            <div class="content">
                                <h4> Summarise Document </h4>
                                <form method="post" action="/doc" enctype="multipart/form-data">
                                  {% csrf_token %}
                                    <div class="field">
                                      <div class="file is-centered is-boxed is-primary has-name">
                                        <label class="file-label">
                                        {% render_field form2.docFile class="file-input" id="docFile" name="docFile" %}
                                        <span class="file-cta">
                                        <span class="file-icon">
                                        <i class="fa fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                        Upload Video File
                                        </span>
                                        </span>
                                        <span class="file-name" id="filename2">
                                        No file uploaded
                                        </span>
                                        </label>
                                        </div>
                                    </div>
                                    <center>
                                        <button class="button submit-button is-medium is-primary" type="submit">Summarise</button>
                                    </center>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <script>
    var file = document.getElementById("pdfFile");
    file.onchange = function(){
        if(file.files.length > 0)
        {
          document.getElementById('filename').innerHTML = file.files[0].name;
        }
    };
    var file2 = document.getElementById("docFile");
    file2.onchange = function(){
        if(file2.files.length > 0)
        {
          document.getElementById('filename2').innerHTML = file2.files[0].name;
        }
    };
    </script>
</body>
</html>
